<div class="container">
  <button class="btn btn-primary" (click)="addUser()">Add User</button>
  <div class="row">
    <div class="col-md-4"><strong>First Name</strong></div>
    <div class="col-md-4"><strong>Last Name</strong></div>
    <div class="col-md-4"><strong>Title</strong></div>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let user of users">
      <div class="row" (click)="editUser(user.id)" [style.cursor]="'pointer'">
        <div class="col-md-4">{{ user.firstName }} </div>
        <div class="col-md-4">{{ user.lastName }} </div>
        <div class="col-md-4">{{ user.title }} </div>
      </div>
    </li>
  </ul>
</div>