<div class="container">
  <div class="row">
    <div class="col-md-4"><strong>First Name</strong></div>
    <div class="col-md-4"><strong>Last Name</strong></div>
    <div class="col-md-4"><strong>Title</strong></div>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let user of users">
      <div class="row">
        <div class="col-md-4">{{ user.firstName }} </div>
        <div class="col-md-4">{{ user.lastName }} </div>
        <div class="col-md-4">{{ user.title }} </div>
      </div>
    </li>
  </ul>
  <div class="row">
    <div class="form-group">
      <label for="fName">First Name</label>
        <input type="text" class="form-control" id="fName" required [(ngModel)]="first">
      <label for="lName">Last Name:</label>
        <input type="text" class="form-control" id="lName" required [(ngModel)]="last">
      <label for="Rtitle">Title:</label>
        <input type="text" class="form-control" id="Rtitle" required [(ngModel)]="title">
    </div>
    <div class="row">
      <button class="btn btn-primary" (click)="addUser(first, last, title)">Add New User</button>
    </div>
  </div>
</div>